@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul li{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  transition: all 0.3s ease;
}

#navbar ul li:hover{
  color: gold ;
  transform: scale(1.15);
}
h1{
  font-size: 30px;
  text-align: center;
  color: green;
}

.card{
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  box-shadow: 1px 1px 6px 2px grey;
  transition: all 1s ease;
  border-radius: 5px;
} 
.card ul{
  margin-top: 10px;
}

.card ul li {
  color: rgb(4, 4, 190);
  font-size: 18px;
  margin-bottom: 10px;
  transition: all 0.6s ease-in-out;
  border-bottom: 2px solid rgb(4, 4, 190);
}
.card ul li:hover{
  background-color:rgb(4, 4, 190);
  color: white;
}

.card-content p{
  font-size: 18px;
  color: rgb(4, 4, 190);
}
.card-buttons .button{
  padding: 5px 10px;
  border: 2px solid rgb(4, 4, 190);
  border-radius: 50%;
  color: rgb(4, 4, 190);
  margin:10px 10px;
  transition: all 0.6s ease-in-out;
}

.card-buttons .button:hover{
  background-color: rgb(4, 4, 190);
  color: white;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 2px 2px 8px 8px grey;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
